<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      h1 {
        text-align: center;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <h1>안뇽</h1>
    <a href="/comments">댓글 목록</a>
    <br />
    <a href="/user">사용자 목록</a>
  </body>
</html>
