.bug-block1{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    left: 300px;
    top: 30px;
}
.container{
    position: relative;
    width: 1000px;
    height: 1000px;
}
.img{
    width: 500px;
    height: 500px;
}
.bug-block2{
    background-color: rgb(69, 69, 156);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    left: 370px;
    top: 50px;
}
.bug-block3{
    background-color: rgb(43, 43, 95);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    left: 370px;
    top: 100px;

}
.bug-block4{
    background-color: rgb(40, 40, 47);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    left: 310px;
    top: 400px;
}
.bug-block5{
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 50px;

    position: absolute;
    left: 370px;
    top: 450px;
}